<h1>My Requests on my stuff</h1>
<%# @requests %>
<li>Boooking</li>
<li>Boooking</li>
<li>Boooking</li>
<li>Boooking</li>
<li>Boooking</li>


<h1>Bookings I've made</h1>
<%# @my_bookings %>
<li>Boooking</li>
<li>Boooking</li>
<li>Boooking</li>
<li>Boooking</li>
<li>Boooking</li>
